*~
*DS_Store
*sublime-project
*sublime-workspace
*scratch
*yaml.lock
.vscode*
cabal.project.local

# build artifacts
builds*
coverage*
.stack-work/
dist*

# Antora builds
docs-site/
tutorial/TutorialMain.out

# Test artifacts
*.tix
